.benefits_content {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.benefits_content_header {
    display: flex;
    gap: 32px;
}

.benefits_content_header_img {
    width: 100%;
    height: auto;
    aspect-ratio: 512/144;
    object-fit: cover;
}

.iconoir-network::before,
.iconoir-settings::before,
.iconoir-filter::before,
.iconoir-eye-closed::before {
    font-size: 112px;
    color: var(--blurple);
    margin-bottom: 32px;
}

.benefits_wrapper {
    display: flex;
    justify-content: space-between;
}

.benefits_wrapper_div {
    width: 300px;
    background-color: var(--gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 8px;
}

@media only screen and (max-width: 1344px) {
    /* .benefits_content_header_img {
        width: 512px;
        height: 136px;
    } */

    .iconoir-network::before,
    .iconoir-settings::before,
    .iconoir-filter::before,
    .iconoir-eye-closed::before {
        font-size: 88px;
        margin-bottom: 24px;
    }

    .benefits_wrapper_div h3 {
        font-size: 32px;
    }

    .benefits_wrapper {
        gap: 24px;
    }

    .benefits_wrapper_div {
        width: 100%;
        padding: 16px;
    }
}

@media only screen and (max-width: 1099px) {
    /* .benefits_content_header_img {
        width: 400px;
    } */
}

@media only screen and (max-width: 1024px) {

    .iconoir-network::before,
    .iconoir-settings::before,
    .iconoir-filter::before,
    .iconoir-eye-closed::before {
        font-size: 72px;
        margin-bottom: 24px;
    }

    .benefits_wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .benefits_wrapper_div h3 {
        font-size: 24px;
    }

    .benefits_wrapper_div {
        width: 48%;
    }
}

@media only screen and (max-width: 1012px) {
    .benefits_content_header_img {
        aspect-ratio: 512/172;
    }
}

@media only screen and (max-width: 858px) {
    .benefits_content_header {
        flex-direction: column;
        gap: 16px;
    }

    .benefits_content_header_text {
        text-align: center;
    }

    .benefits_content_header_img {
        height: 136px;
    }

    .benefits_wrapper {
        flex-wrap: wrap;
        gap: 24px;
        justify-content: space-between;
    }

    .benefits_wrapper_div {
        height: 256px;
        width: 47%;
    }


    .iconoir-network::before,
    .iconoir-settings::before,
    .iconoir-filter::before,
    .iconoir-eye-closed::before {
        font-size: 64px;
        margin-bottom: 24px;
    }
}

@media only screen and (max-width: 603px) {
    .benefits_wrapper {
        flex-wrap: wrap;
        gap: 24px;
        justify-content: space-between;
    }

    .benefits_wrapper_div {
        height: 256px;
        width: 100%;
        height: auto;
    }
}