a {
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-weight: bold;
  line-height: 100%;
  cursor: pointer;
}



/* BUTTONS */
.button--primary {
  background-color: var(--blurple);
  color: var(--white);
  transition: 0.3s;
}

.button--secondary {
  background-color: var(--green);
  color: var(--black);
  transition: 0.3s;
}

.button--tertiary {
  background-color: var(--white);
  color: var(--black);
  outline: 2px solid var(--blurple);
  outline-offset: -2px;
  transition: 0.3s;
}

.button--quaternary {
  background-color: transparent;
  color: var(--white);
  outline: 2px solid var(--white);
  outline-offset: -2px;
  transition: 0.3s;
}

.button--disabled {
  background-color: var(--neutral-50);
}

/* BUTTON STROKE */
.button__stroke {
  border: var(--blurple) solid 2px;
}

/* BUTTON INTERACTION */
.button--primary:hover {
  background-color: var(--blurple-30);
}

.button--secondary:hover {
  background-color: var(--green-30);
}

.button--tertiary:hover {
  background-color: var(--blurple-30);
  color: white;
}

.button--quaternary:hover {
  background-color: var(--white);
  color: var(--black);
}

.button--primary:active {
  background-color: var(--blurple-20);
}

.button--secondary:active {
  background-color: var(--green-20);
}

.button--tertiary:active {
  background-color: var(--blurple-20);
}

.button--quaternary:active {
  background-color: var(--white);
}

/* BUTTON TEXT */
.button__text--primary,
.button__text--reversable {
  color: var(--white);
}

.button__text--secondary,
.button__text--tertiary {
  color: var(--black);
}

.button__text--disabled {
  color: var(--neutral-30);
}