.contact_content {
    display: flex;
    gap: 80px;
    align-items: center;
    flex-wrap: wrap;
}


.contact_content_img {
    width: 400px;
    height: 512px;
    object-fit: cover;
}

.contact_form {
    width: 100%;
    flex: 1;
}

#name,
#email,
#message {
    width: 100%;
    border: 1px solid var(--neutral-40);
    border-radius: 4px;
    padding: 9px 36px 5px 40px;
    background-color: var(--white) !important;
    box-sizing: border-box;
}

#message {
    width: 100%;
    border: 1px solid var(--neutral-40);
    border-radius: 4px;
    padding: 8px 36px 8px 6px;
    background-color: var(--white);
    resize: vertical;
    min-height: 24px;
    max-height: 200px;
}


#name {
    background: url(../assets/img/user.svg) no-repeat scroll 6px 6px;
}

#email {
    background: url(../assets/img/mail.svg) no-repeat scroll 6px 6px;
}

.send_button {
    padding: 8px 48px;
    border: none;
    box-sizing: border-box;
}

.contact--form--fields {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.contact--form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 16px;
    align-items: flex-end;

}

.contact--form--button {
    display: flex;
    justify-content: flex-end;
}

#contact {
    margin-bottom: 280px;
}

@media only screen and (max-width: 1024px) {
    .contact_content {
        gap: 40px;
    }

    .contact_content_img {
        width: 256px;
        height: 512px;
    }
}

@media only screen and (max-width: 548px) {
    .contact_content {
        gap: 24px;
    }

    .contact_content_img_wrapper {
       display: none;
    }
}
