/* contact */

.contact_content {
    display: flex;
    gap: 80px;
    align-items: center;
}

.contact_content_img {
    width: 448px;
    height: 488px;
    object-fit: cover;
}

.contact_form {
    width: 790px;
}

#name,
#email {
    width: 90%;
    border: 1px solid var(--neutral-40);
    border-radius: 4px;
    padding: 9px 36px 5px 40px;
    background-color: var(--white) !important;
}

#message {
    width: 750px;
    border: 1px solid var(--neutral-40);
    border-radius: 4px;
    padding: 8px 36px 8px 6px;
    background-color: var(--white);
}

#name {
    background: url(../assets/img/user.svg) no-repeat scroll 6px 6px;
}

#email {
    background: url(../assets/img/mail.svg) no-repeat scroll 6px 6px;
}

.send_button {
    padding: 8px 48px;
    border: none;
}

.contact--form--fields {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contact--form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 16px;
}

.contact--form--button {
    display: flex;
    justify-content: flex-end;
}

#contact {
    margin-bottom: 280px;
}

.contact--form-div {
    width: 790px;
}
