
/* footer */

.footer {
    background-color: var(--black);
    color: var(--white);
}

.footer_content {
    padding: 48px 20px 64px 20px;
    max-width: 1320px;
    margin: 0 auto;
}

.footer_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_nav_contents {
    display: flex;
    gap: 48px;
}

.footer_nav_contents a {
    color: var(--white)
}

.footer_info {
    display: flex;
    justify-content: space-between;
}

.footer_info_location,
.footer_info_contact {
    display: flex;
    gap: 24px;
}

.footer_info_contact a {
    color: var(--white);
    text-decoration: underline;
}

.line {
    width: 100%;
    margin: 24px 0px 24px 0px;
    height: 1px;
    background-color: var(--white);
}

.iconoir-instagram::before {
    font-size: 36px;
    color: var(--white);
}

.footer_content_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.footer_nav_buttons a {
    padding: 12px 48px;
}

.footer_nav_buttons {
    display: flex;
    gap: 24px;
}

@media screen and (max-width: 900px) {
    .footer_nav_contents {
        display: none;
    }
    
}