.radius-min {
    border-radius: 1px;
}

.radius-xxs {
    border-radius: 2px;
}

.radius-xs {
    border-radius: 4px;
}

.radius-s {
    border-radius: 8px;
}

.radius-m {
    border-radius: 16px;
}

.radius-l {
    border-radius: 24px;
}

.radius-xl {
    border-radius: 48px;
}

.radius-full {
    border-radius: 9999px;
}

.border {
    border: 2px solid var(--blurple);
}

/* SCROLLBAR */
::-webkit-scrollbar-track {
    background-color: var(--neutral-20);
}

::-webkit-scrollbar-thumb {
    background-color: var(--black);
}

/* FIREFOX */
* {
    scrollbar-color: var(--black) var(--neutral-80);
    scrollbar-width: thin;
}

*:hover {
    scrollbar-color: var(--neutral-70) var(--neutral-20);
}

* {
    scrollbar-track-color: var(--neutral-80);
}


/* button */

.copy {
    background-color: var(--darkgray);
    color: var(--white);
    padding: 8px 0px 8px 0px;
    text-align: center;
}


/* footer */

.footer {
    background-color: var(--black);
    color: var(--white);
    padding: 48px 300px 64px 300px;
}

.footer_nav {
    display: flex;
    justify-content: space-between;
}

.footer_nav_contents {
    display: flex;
    gap: 64px;
}

.footer_nav_contents a {
    color: var(--white)
}

.footer_info {
    display: flex;
    justify-content: space-between;
}

.footer_info_location, .footer_info_contact {
    display: flex;
    gap: 24px;
}

.footer_info_contact a {
    color: var(--white);
    text-decoration: underline;
}

.line {
    width: 100%;
    margin: 24px 0px 24px 0px;
    height: 1px;
    background-color: var(--white);
}

.iconoir-calendar::before,
.iconoir-search::before,
.iconoir-tools::before,
.iconoir-eye::before,
.iconoir-timer::before {
    font-size: 64px;
    color: var(--blurple);
}
