#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72vh;
    padding: 0 20px;
}

.hero_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.hero_content_wrapper {
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: -80px;
    max-width: 672px;
}

.hero_content_title {
    width: 40vw;
    min-width: 440px;
}

.hero_content_text {
    width: 30vw;
    min-width: 400px;
}

.hero_content_buttons {
    display: flex;
    gap: 32px;
}

.hero_content_sign,
.hero_content_join {
    padding: 12px 88px;
    white-space: nowrap;
}

.hero_content_imgwrapper {
    width: 560px;
    height: auto;
    border-radius: 40px;
    margin-top: -200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_content_img {
    width: 100%;
    border-radius: 40px;
}

.hero_content_imgwrapper__scroll {
    position: absolute;
    width: 25%;
    height: auto;
    bottom: 10%;
    left: -8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_content_imgwrapper__scroll__img {
    width: 100%;
    height: 100%;
    animation: spin 10s linear infinite;
}

.hero_content_imgwrapper__scroll__arrow {
    position: absolute;
    font-size: 3em;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 1218px) {
    #hero {
        height: 100%;
        flex-direction: column;
        justify-content: flex-start;
    }

    .hero_content {
        flex-direction: column;
        align-items: center;
        gap: 40px;
        flex-wrap: wrap;
    }

    .hero_content_imgwrapper {
        width: 520px;
        order: -1;
    }

    .hero_content_wrapper {
        margin-top: 0;
        align-items: center;
        text-align: center;
    }

    .hero_content_title {
        font-size: 56px;
        width: 100%;
        min-width: 0;
    }

    .hero_content_text {
        font-size: 18px;
        width: 80%;
        min-width: 0;
    }

    .hero_content_sign,
    .hero_content_join {
        padding: 12px 96px;
    }

}

@media only screen and (max-width: 768px) {
    .hero_content_imgwrapper {
        width: 400px;
        margin-top: -184px;
    }

    .hero_content_title {
        font-size: 48px;
    }

    .hero_content_text {
        font-size: 16px;
    }

    .hero_content_imgwrapper__scroll__arrow {
        font-size: 32px;
    }

    .hero_content {
        gap: 20px;
    }

    .hero_content_sign,
    .hero_content_join {
        padding: 12px 72px;
    }
}


@media only screen and (max-width: 712px) {
    .hero_content_imgwrapper__scroll {
        display: none;
    }
}

@media only screen and (max-width: 532px) {
    .hero_content_title {
        font-size: 40px;
    }

    .hero_content_text {
        font-size: 14px;
    }

    .hero_content_sign,
    .hero_content_join {
        padding: 12px 48px;
    }
}

@media only screen and (max-width: 424px) {
    .hero_content_imgwrapper {
        width: 312px;
        margin-top: -168px;
    }

    .hero_content_title,
    .hero_content_text {
       width: 90%;
    }

    .hero_content_title {
        font-size: 32px;
    }


    .hero_content_sign,
    .hero_content_join {
        padding: 12px 32px;
    }
}