.hero_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 88px;
}

.hero_content_wrapper {
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: -80px;
    max-width: 672px;
}

.hero_content_title {
    width: 100%;
}

.hero_content_text {
    width: 100%;
}

.hero_content_buttons {
    display: flex;
    gap: 32px;
}

.hero_content_sign,
.hero_content_join {
    padding: 12px 88px;
}

.hero_content_imgwrapper {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    backdrop-filter: blur(20px);
    margin-top: -200px;
}

.hero_content_img {
    width: 100%;
}

.hero_content_imgwrapper__scroll {
    position: absolute;
    width: 144px;
    height: 144px;
    bottom: 64px;
    left: -48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_content_imgwrapper__scroll__img {
    width: 100%;
    height: 100%;
    animation: spin 10s linear infinite;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hero_content_imgwrapper__scroll__arrow {
    position: absolute;
    font-size: 3rem;
    z-index: 1;
}

