/* nav */

.nav_container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 24px 0px 24px 0px;
    background: linear-gradient(85deg, rgba(245, 245, 245, 0.30) 0%, rgba(245, 245, 245, 0.10) 100%);
    box-shadow: 0px 4px 24px rgba(14, 15, 15, 0.05);
    backdrop-filter: blur(20px);
}

.nav_sign,
.nav_join {
    padding: 12px 46px;
}

.nav_logo {
    width: 468px;
    display: flex;
    align-items: center;
    padding-left: 48px;
}

.nav_links {
    display: flex;
    gap: 36px;
    width: 384px;
    justify-content: center;
}

.nav_links a {
    font-size: 16px;
}

.nav_buttons {
    display: flex;
    gap: 24px;
    width: 468px;
    justify-content: flex-end;
    padding-right: 48px;
}

/* media queries */

@media only screen and (max-width: 1024px) {
    .nav_logo {
        width: 100%;
        display: flex;
        align-items: center;
        padding-left: 0px;
    }

    .nav_links {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .nav_buttons {
        display: none;
    }

    .nav_logo {
        justify-content: center;
    }

    .nav_container.active .nav_links {
        display: flex;
    }

    .nav_container.active .nav_buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav_sign,
    .nav_join {
        padding: 12px 24px;
    }
}

@media only screen and (max-width: 768px) {
    .nav_links {
        display: none;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .nav_buttons {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .nav_container.active .nav_links {
        display: flex;
    }

    .nav_container.active .nav_buttons {
        display: flex;
    }
}