/* pricing */

.pricing_wrapper_title {
    text-align: center;
}

.pricing_wrapper_tiers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 32px;
}

.pricing_wrapper_tier {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 752px;
    width: 100%;
    padding: 40px;
    outline: 2px solid var(--black);
    outline-offset: -1px;
}

.pricing_wrapper_tier_info {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.pricing_wrapper_tier_info_description {
    border-bottom: 1px solid var(--black);
    display: flex;
    flex-direction: column;
    gap: 16px
}

.pricing_wrapper_tier_info_description span {
    font-size: 64px;
    color: var(--black);
    font-family: var(--font-header);
}

.pricing_wrapper_tier_info_description h4 {
    margin-bottom: 16px;
}

.pricing_wrapper_tier_info_upgrades_upgrade {
    display: flex;
    align-items: center;
    gap: 8px;
}

.iconoir-peace-hand::before {
    font-size: 24px;
    color: var(--black);
}

.pricing_wrapper_tier_bronze {
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
}

.pricing_wrapper_tier_enterprise {
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}

.button--bronze,
.button--silver,
.button--gold,
.button--enterprise {
    padding: 12px 24px;
}