.pricing_wrapper_title {
    text-align: center;
}

.pricing_wrapper_tiers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 32px;
}

.pricing_wrapper_tier {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px;
    width: 24%;
    width: 100%;
    padding: 40px;
    outline: 2px solid var(--black);
    outline-offset: -1px;
}

.pricing_wrapper_tier_info {
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: calc(100% - 80px);
    flex: 1;
}

.pricing_wrapper_tier_info_description {
    border-bottom: 1px solid var(--black);
    display: flex;
    flex-direction: column;
    gap: 16px
}

.pricing_wrapper_tier_info_description_euro {
    font-size: 24px;
    color: var(--black);
    font-family: var(--font-body);
    font-weight: bold;
    height: 72%;
    display: flex;
    align-items: top;
    width: 14px;
}

.pricing_wrapper_tier_info_description__month {
    font-family: var(--font-body);
    font-size: 16px;
    font-weight: bold;
}

.pricing_wrapper_tier_info_description_price {
    font-size: 64px;
    color: var(--black);
    font-family: var(--font-header);
}

#enterprisePrice {
    font-size: 28px;
    height: 100%;
    align-items: center;
    display: flex;
    color: var(--black);
    font-family: var(--font-body);
    margin-bottom: 12px;
}

.pricing_wrapper_tier_info_description h4 {
    display: flex;
    align-items: center;
    gap: 8px;
}

.pricing_wrapper_tier_info_upgrades_upgrade {
    display: flex;
    align-items: center;
    gap: 8px;
}

.iconoir-peace-hand::before {
    font-size: 24px;
    color: var(--blruple);
}

.pricing_wrapper_tier_bronze {
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
}

.pricing_wrapper_tier_enterprise {
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}

.button--bronze,
.button--silver,
.button--gold,
.button--enterprise {
    padding: 12px 24px;
}

@media only screen and (max-width: 1072px) {
    .pricing_wrapper_tier {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: fit-content;
        gap: 40px;
        width: 36%;
        height: 536px;
    }

    .pricing_wrapper_tiers {
        flex-wrap: wrap;
        justify-content: center;
    }

    .pricing_wrapper_tier_info_description h4 {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .pricing_wrapper_tier_bronze {
        border-top-left-radius: 24px;
        border-bottom-left-radius: 0px;
    }

    .pricing_wrapper_tier_silver {
        border-top-right-radius: 24px;
    }

    .pricing_wrapper_tier_gold {
        border-bottom-left-radius: 24px;
    }
    
    .pricing_wrapper_tier_enterprise {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 24px;
    }
}

@media only screen and (max-width: 622px) {
    .pricing_wrapper_tier_info_description h3 {
        font-size: 24px;
    }

    .pricing_wrapper_tier {
        width: 28%;
    }

    .pricing_wrapper_tier_info_description {
        gap: 8px
    }
    
    .pricing_wrapper_tier_info_description_euro {
        font-size: 20px;
        width: 12px;
    }
    
    .pricing_wrapper_tier_info_description__month {
        font-size: 16px;
    }
    
    .pricing_wrapper_tier_info_description_price {
        font-size: 48px;
    }
    
    #enterprisePrice {
        font-size: 20px;
        margin-bottom: 12px;
    }
}

@media only screen and (max-width: 525px) {
    .pricing_wrapper_tier {
        width: 100%;
        height: 100%;
    }

    .pricing_wrapper_tier_bronze {
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
    }

    .pricing_wrapper_tier_silver {
        border-top-right-radius: 0px;
    }

    .pricing_wrapper_tier_gold {
        border-bottom-left-radius: 0px;
    }
    
    .pricing_wrapper_tier_enterprise {
        border-bottom-left-radius: 24px;
        border-bottom-right-radius: 24px;
    }
}
