/* media queries */

@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 768px) {

    /* main */

    main {
        padding: 0px 64px 64px 64px;
    }

    /* footer */

    /* .footer {
        padding: 64px;
    } */

    .footer_nav_contents {
        display: none;
    }

    .footer_info_location, .footer_info_contact {
        display: flex;
        gap: 8px;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer_info_contact {
        align-items: flex-end;
    }

    .footer_nav_buttons {
        width: 100%;
    }
    
    

    }